* {
    box-sizing: border-box;
    margin-top: 0px;
}
:root {
    --black:#000000;
    --grey:#949494;
    --white:#ffffff;
    --blue:#1300e0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    border: 0px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;


}

.name-of-website {
    white-space: nowrap;
    padding-left: 10px;
    font-size: 30px;
    padding-top: 10px;
    align-items: flex-end;

    
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
    font-size: 15px;
    padding-top: 30px;
    
}

.nav-card {
    display: flex;
    align-items: flex-end;
    border-right: none;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    padding-left:10px;
    padding-right:10px;
    border-width: 1px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
}

.empty{
    width: 1000px;
}

body {
    display:flex;
    flex-flow: column wrap ;
    border-style: solid;
    border-color:var(--black);
    border-width:2px;
    margin-left: 5px;
    margin-right:px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row { 
    display: flex;
    justify-content:flex-start;
    background-color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

.description{
    display: flex;
    justify-content: flex-end;
    background-color: var(--white);
    width: 400px;
    height:300px;
    font-size: 70px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
    margin: 10px;
    padding-top:100px;

}
.line {
    display:flex;
    justify-content: flex-start;
    padding: 10px;
}
.image {
    width:300px;
    height: 300px;
    margin-left:5px;
}

.desk-image {
    height:500px;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}
.text{
    width: 900px;
    height:300px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    font-size: 20px;
}

.apps{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.apps-link-main {
    margin: 5px;
    position: absolute;
    text-align: center;
    color: var(--blue);

}

a .apps-links {
    margin-bottom: 5px;
    background-color: var(--grey);
    display: flex;
    flex-flow: column wrap;
}

.apps-container-big {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:200px; 
}

.apps-container-small {
    display: flex;
    flex-flow:column wrap;
}

.clock{
    height: 202px;
    width: 185px;
    margin: 5px;
}

.calculator {
    height: 854px;
    width: 1000px;
    margin: 0px;
}

.BMI-calcualtor {
    height: 202px;
    width: 185px;
    margin: 5px
}

.rock-paper-scissors {
    height: 202px;
    width: 185px;
    margin: 5px;
}

.quote {
    height: 202px;
    width: 185px;
    margin: 5px;
}

.major-apps{
    position: static;
    text-align:Right;
    color:var(--white);
    background-color: var(--grey);
    font-size: 32px;
    margin: 5px;
}

.minor-apps {
    text-align:center;
    font-size: 16px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: var(--white);
    display: flex;
    align-items: flex-start;


}
.major-bottom-right{
    position: static;
    bottom: 8px;
    right: 16px;
    width: 10px;
    background-color: var(--grey);

}

.bottom-text-right-minor {
    bottom: 200px;
    right: 200px;
    margin-bottom: 5px;
    background-color: var(--grey);
    color: var(--white);
    display: flex;
    align-items: flex-start;
}

.contact {
    display: flex;
    justify-content: space-between;
    width:1200px;

}

a.contact-item {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 10px;
    color: var(--black);
    font-size: 32px;
    
}
footer{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}
